body{
    background-color: darkturquoise;
}


h1{
    font-style: italic;
    font-size: 30px;
    color:black;
    text-align: center;
    text-decoration: underline;
}

h2{
    color: brown;
    text-align: left;
    font-size: 20px;
}

main{
    display: block;
    width: 80%;
    height: 20px;
    padding: 10px;
}

section{
    margin: 10px;
    border-radius: 5px;
    border: 2px solid black;
}

.agregar_nota div{
    display: flex;
}

/* Footer */

h5{
    color: white;
}

footer{
    background: black;
    font-style: italic;
    width: 100%;
    height: auto;
    text-align: center;
    position: fixed;
    bottom: 0;
}